body{
    background-color: #01579B;
}

.antialiased{
	background-color: #fff;
}

.card-header{
    background-color: #01579B; 
    color: #fff;
}

.card-body{
    background-color: #627D98;
}

.profile-class{
    background-color: #01579B; 
    color: #fff;
}

.forgot-color{
    color: #fff;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

/** DEBUG **/

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}

#debug:checked ~ main {
  --outline-width: 1px;
}


/** PAGE STYLING **/
.card {
	outline: var(--outline-width) solid hotpink;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	align-items: stretch;
	outline: var(--outline-width) solid lime;
}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* import styled from 'styled-components';
import {MdKeyboardArrowRight, MdArrowForward} from 'react-icons/md'; */

.HeroContainer{
    background-color: #006064;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;

   
}

.HeroContainer::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%),
	linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%);
	z-index: 2;
}

.HeroBg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.VideoBg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    
}

.HeroContent {
    z-index: 3;
    max-width:1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeroH1 {
    color: #fff;
    font-size: 48px;
    text-align: center;

    @media screen and (max-width: 768px) {
        font-size: 40px;
    }

    @media screen and (max-width: 480px) {
        font-size: 32px;
    }
}

.HeroP {
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
}

.HeroBtnWrapper {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ArrowForward {
    margin-left: 8px;
    font-size: 20px;
}

.ArrowRight {
    margin-left: 8px;
    font-size: 20px;
}

.InfoContainer {
    color: #fff;
    background: #01579B;

    @media screen and (max-width: 768px) {
        padding: 100px 0;
    }
}

.InfoContainer1 {
    color: #01579B;
    background: #fff;

    @media screen and (max-width: 768px) {
        padding: 100px 0;
    }
}

.InfoContainer2 {
    color: #fff;
    background: #01579B;

    @media screen and (max-width: 768px) {
        padding: 100px 0;
    }
}

.InfoWrapper { 
    /* display: grid; */
    /* z-index: 1; */
    /* width: 100%; */
    height: 800px;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 24px;
    /* justify-content: center; */
}

.InfoRow { 
    display: grid;
    grid-auto-columns: minmax(auto, 1fr);
    align-items: center;
}

.Column1 { 
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col1;
}

.Column2 { 
    margin-bottom: 15px;
    padding: 0 15px;
    grid-area: col2;
}

.TextWrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
}

.TopLine {
    color: #01bf71;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.Heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    /* color: ${({ lightText }) {> (lightText ? '#f7f8fa' : '#010606')}; */

    @media and screen (max-width: 480px) {
        font-size: 32px;
    }
}

.Subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    /* color: ${({ darkText }) {> (darkText ? '#010606' : '#fff')}; */
}

.BtnWrap { 
    display: flex;
    justify-content: flex-start;
}

.ImgWrap { 
    max-width: 355px;
    height: 80%;
}

.Img { 
    width: 80%;
    margin: 0 0 10px 0;
    padding-right: 0;
}

.ServicesContainer {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #010606;

    @media screen and (max-width: 768px){
        height: 1100px;
    }

    @media screen and (max-width: 480px){
        height: 1300px;
    }
}

.ServicesWrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 16px;
    padding: 0 50px;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}  

.ServicesCard {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    max-height: 340px;
    padding: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.ServicesCard:hover {
	transform: scale(1.02);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.ServicesIcon {
    height: 160px;
    width: 160px;
    margin-bottom: 10px;
}

.ServicesH1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 64px;

    @media screen and (max-width: 480px) {
        font-size: 2rem;
    }
}

.ServicesH2 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.ServicesP {
    font-size: 1rem;
    text-align: center;
}

.FooterContainer {
    background-color: #101522;
}

.FooterWrap {
    padding: 48px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.FooterLinksContainer {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 820px) {
        padding-top: 32px;
    }
}

.FooterLinksWrapper {
    display: flex;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}

.FooterLinksItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
    color: #fff;

    @media screen and (max-width: 420px) {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}

.FooterLinkTitle { 
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 16px;
}

.FooterLink {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 14px;
}

.FooterLink:hover {
	color: #01bf71;
	transition: 0.3s ease-out;
}

.SocialMedia {
    max-width: 1000px;
    width: 100%;
}

.SocialMediaWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 40px auto 0 auto;

    @media screen and (max-width: 820px) {
        flex-direction: column;
    }
}

.SocialLogo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    margin-bottom: 16px;
    font-weight: bold;
}

.WebsiteRights {
    color: #fff;
    margin-bottom: 16px;
}

.SocialIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.SocialIconLink {
    color: #fff;
    font-size: 24px;
}